<div style="max-width:600px">
    <div class="row">
        <div class="col">
            A <a href="https://en.wikipedia.org/wiki/Fractal_flame">fractal flame</a> is a type of fractal that is famous for intricate detail and surprising results.
            Each flame is composed of multiple mathematical steps layered on top of each other. This layering process allows for incredible variation, especially in motion.
        </div>
        <div class="col-auto" style="border-left: 1px solid rgba(0,0,0,.1)">
        </div>
        <div class="col">
            The Flame Reactor allows you to breed fractal flames together with a genetic algorithm. It then animates the flame, taking it through a full rotation.
            The resulting flame is then bred with the next choice, and so on.
            In this way, we cooperatively create a slowly-mutating lineage.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-11">
            Each mating will take approximately 10 minutes.
            Contemplate the current generation while you wait.
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-11">
            <em style="font-weight: bold">Important!</em> Only one flame reaction can happen at a time. Once anyone, anywhere, makes a selection, we all have to wait for that reaction to complete.
            So please be patient, and don't hog the reactor.
        </div>
    </div>
    <hr>

    <div class="row text-center">
        <div class="col-11">
            Source code is available at <a href="https://github.com/DavidHaitch/FlameReactor">github.com/DavidHaitch/FlameReactor</a>
        </div>
    </div>


    <hr>

    <div class="row text-center">
        <div class="col-11">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/MovingImage" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="flamereactor.com" property="cc:attributionName" rel="cc:attributionURL">flamereactor.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col-11">
            The Ember toolchain is by Matt Feemster and the Fractorium community.
            <br />
            Seed flames are by b33rheart, plangkye, tatasz, and the Electric Sheep community.
        </div>
    </div>
</div>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Message { get; set; }

    async Task SubmitForm() => await BlazoredModal.CloseAsync();
    async Task Cancel() => await BlazoredModal.CancelAsync();

}
