@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100;300&display=swap');
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: black;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fadeout {
    visibility: visible;
    opacity: 1;
    animation: fadeoutanim 1s 10s 1;
    animation-fill-mode: forwards;
}

.fadein {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear 0s;
}

@keyframes fadeoutanim {
    0% {
        opacity: 1.0;
        visibility: visible;
    }

    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}